{% extends 'layout.html' %}

{% block content %}
    <p>
        {{ '{} {}'.format(current_user['first_name'].capitalize(),
                          current_user['last_name'].capitalize()) }}
    </p>

    <a type="button" class="btn btn-secondary" href="{{ url_for('add', user_id=current_user.user_id) }}">Add new Librarian</a>
    <br>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Library</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for lib in librarians %}
            <tr>
                <td>{{ '{} {}'.format(lib[0]['first_name'].capitalize(),
                          lib[0]['last_name'].capitalize()) }}</td>
                <td>{{ lib[1]['library_name'] }}</td>
                <td><a type="button" class="btn btn-secondary" href="{{ url_for('edit_user', user_id=lib[0]['user_id']) }}">Edit</a></td>
                <td><a type="button" class="btn btn-secondary" href="{{ url_for('delete_user', user_id=lib[0]['user_id'])}}">Delete</a></td>
            </tr>
    {% endfor %}
    </tbody>
    </table>


{% endblock %}
