{% extends 'layout.html' %}

{% block content %}
    <div class="row row-cols-3">
        {% for book, author in books %}
            <div class="col mt-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a class="card-link" href="{{ url_for('book', book_id=book.book_id) }}">{{ book.title }}</a>
                        </h3>
                        {% if book.subtitle %}
                            <p class="card-text"><i>{{ book.subtitle }}</i></p>
                        {% endif %}
                        {% if author.middle_name %}
                            <a class="card-link" href="{{ url_for('author', author_id=author.author_id) }}">
                                {{ '{} {}. {}'.format(author.first_name.capitalize(),
                                                      author.middle_name[0].upper(),
                                                      author.last_name.capitalize()) }}
                            </a>
                        {% else %}
                            <a class="card-link" href="{{ url_for('author', author_id=author.author_id) }}">
                                {{ '{} {}'.format(author.first_name.capitalize(), author.last_name.capitalize()) }}
                            </a>
                        {% endif %}
                        <hr>
                        <a role="button" class="btn btn-dark btn-sm" href="{{ url_for('checkout', book_id=book.book_id) }}">Check Out</a>

                         <hr>
                        <a role="button" class="btn btn-dark btn-sm" href="{{ url_for('hold', book_id=book.book_id) }}">Hold</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
