{% extends 'layout.html' %}

{% block content %}
    <h2>{{ book.title }}</h2>
    {% if book.subtitle %}
        <h5><i>{{ book.subtitle }}</i></h5>
    {% endif %}
    <br>
    {% if author.middle_name %}
        <p>Author:
            {{ '{} {}. {}'.format(author.first_name.capitalize(),
                                  author.middle_name[0].upper(),
                                  author.last_name.capitalize()) }}
        </p>
    {% else %}
        <p> Author:
            {{ '{} {}'.format(author.first_name.capitalize(), author.last_name.capitalize()) }}
        </p>
    {% endif %}

    {% if genre %}
        <p>Genre: {{ genre.name }}</p>
    {% endif %}

    <p>Number of pages: {{ book.num_pages }}</p>
    <p>Description:
        <br>
        {{ book.description }}
    </p>
{% endblock %}
