{% extends 'layout.html' %}

{% block content %}
    <p>
        {{ '{} {}'.format(user['first_name'].capitalize(),
                          user['last_name'].capitalize()) }}
    </p>

    <a type="button" class="btn btn-secondary" href="{{ url_for('edit_user', user_id=current_user.user_id) }}">Edit Profile</a>
    <br>
    <p>Current Checked-out Books:</p>
    <ul>
    {% for book in books %}
        <li>
            {{ book[0]['title'] }}
            {{ book[1]['first_name'] + ' ' + book[1]['last_name'] }}
            <a type="button" class="btn btn-secondary" href="{{ url_for('return_book', user_id=current_user.user_id, book_id=book[0]['book_id']) }}">Return</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}